*{
    padding: 0;
    margin: 0;
}

section{
    display: flex;

    margin-top: 60px;
    justify-content: center;
}

form{
    border: 2px solid black;
    text-align: center;
    width: 310px;
    height: 360px;
    background-color: rgb(49, 49, 122);

h1{
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgb(10, 10, 144);

}

}
input{
    margin-top: 15px;
    padding: 5px 5px;
    padding-right:50px;
    border-radius: 5px;


}

label{
    display: flex;
    justify-content: start;
    margin-left: 44px;
    
}
label{
    color: white;
}
p{
    font-size: 10px;
    padding-top: 13px;
    padding-left: 15px;
    text-align: justify;
    padding-right: 50px;

}


button{
    background-color: green;
    color: white;
    padding: 6px 16px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 130px;
}